{{! main page by handlebars }}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Restaurant | 尋找喜愛的美食!</title>
    <link
      rel="shortcut icon"
      href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheet/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <header>
      <!-- navigation -->
      <nav class="navbar navbar-light bg-light">
        <div class="container justify-content-between">
          <a class="navbar-brand" href="/">
            <img
              src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
              width="30"
              height="30"
              class="d-inline-block align-top"
              alt="我的餐廳清單"
            />
            我的餐廳清單
          </a>
          {{#if user}}
            <div class="d-flex align-items-center">
              <a href="/restaurants/new" class="btn btn-primary">新增餐廳</a>
              <form
                action="/auth/logout"
                method="POST"
                style="display: inline-block"
                class="ms-2 my-0"
              >
                <button type="submit" class="btn btn-dark">登出</button>
              </form>
            </div>
          {{/if}}

        </div>
      </nav>
      <div class="banner"></div>
    </header>
    {{! restaurents list }}
    {{{body}}}
    <script
      src="https://kit.fontawesome.com/fe29b26733.js"
      crossorigin="anonymous"
    ></script>
    <script src="/javascript/popper.js"></script>
    <script src="/javascript/bootstrap.js"></script>
    <script src="/javascript/validate.js"></script>
  </body>
</html>