<div class="row mt-2">
  <div class="col col-md-6 mx-auto">
    <div class="card card-body">
      <h1 class="mb-2 text-center">會員登入</h1>
      <form
        action="/auth/login"
        method="POST"
        id="login-form"
        class="needs-validation fw-bolder"
        novalidate
      >
        {{> message }}
        <div class="mb-3">
          <label for="username" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="username"
            placeholder="name@example.com"
            name="username"
            required
          />
          <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
            This field is invalid !
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            aria-describedby="passwordHelpBlock"
            name="password"
            minlength="8"
            maxlength="20"
            placeholder="Enter your password..."
            required
          />
          <div class="valid-feedback">
          </div>
          <div class="invalid-feedback">
            This field is invalid !
          </div>
          <small id="passwordHelpBlock" class="form-text">
            Your password must be 8-20 characters long
          </small>
        </div>
        <div class="d-grid col-11 mx-auto">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <p class="mb-0 mt-3">
          還不是會員?
          <a href="/auth/register">點我註冊</a>
        </p>
      </form>
    </div>
  </div>
</div>